.home {
  display: flex;
  flex-flow: row;
}

.home-logo {
  height: 5vmin;
}

.home-header {
  text-align: left;
  background-color: #282c34;
  min-height: 5vh;
  font-size: calc(10px + .5vmin);
  color: white;
  padding-left: 1rem;
}

.home-body {
  margin: 10px;
  }

.home-body h3{
  margin: 10px;
  font-size: calc(10px + .5vmin);
  color: slategrey;
}

.home-body__recent {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.home-body__favourite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-link {
  color: #09d3ac;
}