#home__root {
  display: flex;
  flex-flow: row;
}

.home-body {
  margin: 0px;
  }

.home-body h3{
  margin: 10px;
  font-size: calc(10px + .5vmin);
  color: slategrey;
}

.home-body__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
