.grid-main table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  border: 1px solid #dee2e6;
}

.grid-main thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border: inherit;
  background-color: #212529;
  color: #dee2e6;
}

.grid-main th {
  font-size: 11px;
  border: 1px solid #dee2e6;
  padding: 0.3rem;
}
.grid-main tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.grid-main tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.grid-main td {
  font-size: 11px;
  border: 1px solid #dee2e6;
  padding: 0.3rem;
}

/* Define the default color for all the table rows */
/* Define the hover highlight color for the table row */
.grid-main tr:hover td {
  background-color: #cad9db;
}

.grid-main button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.grid-waiting__wrapper{
  text-align: center;
  padding: 20px;
}

.grid-waiting{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}