.ybr-flexbox {
  display: flex;
  flex-flow: row;
}

#ybr-flexbox-body {
  display: flex;
  flex-flow: row;
}

.ybr-flexbox__panel{
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background-color: #333;
  color: white;
  font-weight: bold;
}
.ybr-flexbox__panel ul{
  list-style-type: none;
  padding: 0;
}
.ybr-flexbox__panel li{
  padding-left: 0.5rem;
  margin-top: 5px;
}

.ybr-flexbox__panel button {
  background-color: #333;
  color: white;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.ybr-flexbox__panel button:hover {
  background-color: rgb(75, 73, 73);
  border-radius: 3px;
}

.ybr-flexbox__panel button:focus:not(.focus-visible) {
  background-color: rgb(75, 73, 73);
  border-radius: 3px;
  box-shadow: none;
  outline:0;
}