.ybr-flexbox {
  display: flex;
  flex-flow: row;
}

#ybr-flexbox-body {
  display: flex;
  flex-flow: row;
}

.ybr-flexbox__panel{
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background-color: #333;
  color: white;
  font-weight: bold;
}
.ybr-flexbox__panel ul{
  list-style-type: none;
  padding: 0;
}
.ybr-flexbox__panel li{
  padding-left: 0.5rem;
  margin-top: 5px;
}

.ybr-flexbox__panel a {
  text-decoration: none;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
.ybr-flex-panel__active {
  background-color: rgb(75, 73, 73);
  border-radius: 3px;
}